.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.small {
    transform: scale(0.5) !important;
}

.medium {
    transform: scale(0.75) !important;
}

.large {
    transform: scale(1) !important;
}

.x-large {
    transform: scale(1.25) !important;
}

.right {
    right: 10px !important;
    top: 0 !important;
    bottom: 0 !important;
}